/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 7, 2015, 10:47:55 AM
    Author     : apprentice
http://www.textfixer.com/tutorials/html-search-box.php
*/

#navbar{
    background-color:#c3dfef;
}

/*#tfnewsearch{
    float:right;
    padding:20px;
}
.tftextinput{
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
}
.tfbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}
.tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
 Fixes submit button height problem in Firefox 
.tfbutton::-moz-focus-inner {
    border: 0;
}
.tfclear{
    clear:both;
}


#log-in {
    text-align: right;
    display:inline-block;
    margin-left:0px;
}

#company-home-page {
    display:inline-block; 
}


#DIV_1 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    height: 50px;
    width: 420px;
    perspective-origin: 210px 25px;
    transform-origin: 210px 25px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px -15px;
    outline: rgb(51, 51, 51) none 0px;
}#DIV_1

#DIV_1:after {
    box-sizing: border-box;
    clear: both;
    color: rgb(51, 51, 51);
    display: table;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}#DIV_1:after

#DIV_1:before {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: table;
    width: 1px;
    perspective-origin: 0.5px 0px;
    transform-origin: 0.5px 0px;
    content: ' ';
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}#DIV_1:before

#BUTTON_2 {
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    float: right;
    height: 34px;
    position: relative;
    width: 44px;
    perspective-origin: 22px 17px;
    transform-origin: 22px 17px;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(51, 51, 51);
    border-radius: 4px 4px 4px 4px;
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 8px 15px 8px 0px;
    outline: rgb(51, 51, 51) none 0px;
    padding: 9px 10px;
}#BUTTON_2

#SPAN_3 {
    box-sizing: border-box;
    clip: rect(0px 0px 0px 0px);
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 1px;
    position: absolute;
    text-align: center;
    width: 1px;
    align-self: stretch;
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(51, 51, 51);
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: -1px;
    outline: rgb(51, 51, 51) none 0px;
    overflow: hidden;
}#SPAN_3

#SPAN_4 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 2px;
    text-align: center;
    width: 22px;
    align-self: flex-start;
    perspective-origin: 11px 1px;
    transform-origin: 11px 1px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 1px 1px 1px 1px;
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}#SPAN_4

#SPAN_5, #SPAN_6 {
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    cursor: pointer;
    display: block;
    height: 2px;
    text-align: center;
    width: 22px;
    align-self: flex-start;
    perspective-origin: 11px 1px;
    transform-origin: 11px 1px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    border-radius: 1px 1px 1px 1px;
    font: normal normal normal normal 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 4px 0px 0px;
    outline: rgb(51, 51, 51) none 0px;
}#SPAN_5, #SPAN_6

#A_7 {
    box-sizing: border-box;
    color: rgb(157, 157, 157);
    display: block;
    float: left;
    height: 50px;
    text-decoration: none;
    width: 136.0625px;
    perspective-origin: 68.03125px 25px;
    transform-origin: 68.03125px 25px;
    border: 0px none rgb(157, 157, 157);
    font: normal normal normal normal 18px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(157, 157, 157) none 0px;
    padding: 15px;
}#A_7*/

